<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deluxe</title>
    <script src="main.js"></script>
    <%- include('googleAdTag.ejs', {adTag: 'Fashion_detail'}) %>
</head>
<body>
    <div class="container">
       <div id="interscroller">
    </div>
    <div class="container">
       <div id="flyingcarpet">
    </div>
    <script>
        $(document).ready(function() {
            showMobileAd("Fixedbanner1","interscroller","random1"); 
            showMobileAd("Fixedbanner2","flyingcarpet","random1"); 
        });
    </script>
</body>
</html>